footer{
    height: 33.4em;
    background-color: $mail-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @media all and (min-width: map-get($brakepoints, xs)) and (max-width: map-get($brakepoints, sm)){
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        grid-gap: 3rem;
        height: unset;
    }
    .footer__list{
        letter-spacing: .28rem;
        font-family: Futura;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        @media all and (min-width: map-get($brakepoints, xs)) and (max-width: map-get($brakepoints, sm)){
        transform: translateX(-5%);
        }
        ul{
            list-style: none;
            li{
                margin-bottom: 2rem;
                a{
                    text-decoration:none;
                    color: $font-color;
                    &:hover {
                        cursor: pointer;
                        color: $bg-color-cooperation-contact;
                    }   
                }
            }
        }
    }

    .footer__followus{
        margin-top: -7.5rem;
        p{
        letter-spacing: .28rem;
        color: $font-color;
        font-family: Futura;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 2.6rem;
        }
        svg:hover path{
            fill:$bg-color-cooperation-contact;
        }
        svg:hover {
            cursor: pointer;
        }  
        svg:nth-of-type(1){
            margin-left: 2rem
            }
        svg:nth-of-type(2){
        margin-left: 5rem
        }

    }
}