section.offer{
    min-height: 133.7rem;
    background-color: $bg-color-offer;    
    .offer__wrapper{
        display: flex;
        justify-content: center;
        svg{
            margin-top:20.435rem;
        }
    }
    h2{
        text-align: center;
        font-family: Baskerville;
        font-weight: normal;
        margin-top:9.1rem;
        color: $text-color;
        margin: 9.1rem auto;
        @media all and (min-width: map-get($brakepoints, xs)){
            width: 24rem;
            font-size: 2rem;
            height: unset;
          }
        @media all and (min-width: map-get($brakepoints, sm)){
            width: 50rem;
            font-size: 2.5rem;
            height: unset;
        }
        @media all and (min-width: map-get($brakepoints, lg)){
            width: 80rem;
            font-size: 3.5rem;
            height: unset;
          }
        @media all and (min-width: map-get($brakepoints, xxl)){
            width: 130.9rem;
            height: 22.5rem;
            font-size: 3.5rem;
          } 
    }

    .characteristics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12.1rem;
        @media all and (min-width: map-get($brakepoints, xs))and (max-width: map-get($brakepoints, sm)){
            margin-top: -5rem;
            margin-bottom: 5rem;
        }
        &:last-of-type{
            @media all and (min-width: map-get($brakepoints, xs)) and (max-width: map-get($brakepoints, md)){
                margin-top:unset;
            }
        }
        .characteristics__box{
            flex-direction: column;
            display: flex;
            align-items: center;
            margin-right: 10rem;
            padding-left: 8rem;
            @media all and (min-width: map-get($brakepoints, xs)) and (max-width: map-get($brakepoints, xl)) {
                margin-right: unset;
                padding-left:unset;
              }
             
            .characteristics__describe{
              width: 21.5rem;
              height: 3.4rem;
              font-family: Futura;
              letter-spacing: .28rem;
              color: $text-color;
              text-transform: uppercase;
              font-size: 1.4rem;
              text-align: center;
              font-weight: bold;
              margin-top: 4.019rem;
            }
        }
    }
}