$font-color:white;
$text-color: #0D0F22;
$bg-color-offer:#FFFAF8;
$bg-color-cooperation-left:#DA5F4B;
$bg-color-cooperation-right:#DAAB9D;
$bg-color-cooperation-form:#EFEBE9;
$bg-color-cooperation-contact:#AC5B4E;
$mail-color:#E08553;

$brakepoints:(
  xs:320px,
  sm:580px,
  md:768px,
  lg:1000px,
  xl:1200px,
  xxl:1400px,
  xxxl:1800px,
)